/*Dentro de este archivo .css se encuentra el diseño del menu de navegacion y además el diseño del efecto dado al catalogo */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

.menu{
    list-style: none;
    padding:0;
    background: midnightblue;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: end;
}

.menu li a:hover{
    background: orange;
}

.lineal{
    display: flex;
}

.lineal{
 margin-left: 15px;
}

/*Diseño del catalogo*/
.container{
    width: auto;
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.container .card{
    width: 275px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25;
    float: left;
}

.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgb(0,0,0.2);
}

.container .card img{
    width: 330px;
    height: auto;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: blue;
}